.dialog {
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    h3 {
      margin-bottom: 0;
    }
    &--icon {
      cursor: pointer;
    }
  }
  &__body {
    padding: 0 30px;
    mat-form-field {
      margin-bottom: 20px;
      width: 100%;
    }
  }
  &__footer {
    background-color: var(--color-100);
    padding: 20px 30px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
}
