<div class="dialog">
  <div class="dialog__header">
    <h3 mat-dialog-title>{{ data.title }}</h3>
  </div>
  <div class="dialog__body">
    <div>
      {{ data.message }} <b>{{ data.heroe.name }}</b>
    </div>
  </div>
  <div class="dialog__footer">
    <button
      mat-button
      class="dialog__footer--button-warning"
      (click)="onCancel()"
    >
      Cancelar
    </button>
    <button
      mat-raised-button
      color="primary"
      class="dialog__footer--button-primary"
      (click)="onAccept()"
    >
      Aceptar
    </button>
  </div>
</div>
