<mat-form-field appearance="outline" floatLabel="always">
  <mat-label>Search</mat-label>
  <input matInput [formControl]="search" />
</mat-form-field>
<table mat-table [dataSource]="dataSource$">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>
  <ng-container matColumnDef="owner">
    <th mat-header-cell *matHeaderCellDef>Owner</th>
    <td mat-cell *matCellDef="let element">{{ element.owner }}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon
        aria-hidden="false"
        fontIcon="edit"
        (click)="editHeroe(element)"
      ></mat-icon>
      <mat-icon
        aria-hidden="false"
        fontIcon="delete"
        (click)="removeHeroe(element)"
      ></mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  [length]="totalItems"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page"
  showFirstLastButtons
>
</mat-paginator>
