<mat-drawer-container class="layout">
  <mat-drawer class="sidenav" mode="side" opened>
    <app-sidebar-menu></app-sidebar-menu>
  </mat-drawer>
  <mat-drawer-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
