<div class="dialog">
  <div class="dialog__header">
    <h3 mat-dialog-title>{{ data.title }}</h3>
  </div>
  <form [formGroup]="form">
    <div class="dialog__body">
      <div>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" uppercase />
          <mat-error *ngIf="form.controls['name'].hasError('required')">
            Campo requerido
          </mat-error>
          <mat-error *ngIf="form.controls['name'].hasError('isDuplicate')">
            This name is duplicate
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Seleccionar franquicia</mat-label>
          <mat-select formControlName="owner">
            @for (owner of owners; track owner) {
            <mat-option [value]="owner.value">{{ owner.viewValue }}</mat-option>
            }
          </mat-select>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="dialog__footer">
      <button
        mat-button
        class="dialog__footer--button-warning"
        (click)="onCancel()"
      >
        Cancelar
      </button>
      <button
        mat-raised-button
        color="primary"
        class="dialog__footer--button-primary"
        (click)="onSave()"
      >
        Guardar
      </button>
    </div>
  </form>
</div>
