<div class="sidebar-menu">
  <a class="sidebar-menu-link" routerLink="/dashboard">Dashboard</a>
  <!-- <a class="sidebar-menu-link" routerLink="/edit">Lista de heroes</a> -->
  <a mat-raised-button color="primary" (click)="addHeroe()">Añadir heroe</a>
</div>
