.sidebar-menu {
  .sidebar-menu-link {
    color: #333;
    border-radius: 5px;
    position: relative;
    display: block;
    padding: 14px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    &:hover,
    &.active {
      background-color: #f5f5f9;
    }
  }
}
